<%= form_for @call, :html => { :class => "form-horizontal call" } do |f| %>

    <% if @call.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@call.errors.count, "error") %> prohibited this call from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @call.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :phone_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phone_number, :class => 'form-control' %>
    </div>
    <%= error_span(@call[:phone_number]) %>
  </div>
  <div class="control-group">
    <%= f.label :contact_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :contact_name, :class => 'form-control' %>
    </div>
    <%= error_span(@call[:contact_name]) %>
  </div>
  <div class="control-group">
    <%= f.label :recieved_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :recieved_at, :class => 'form-control' %>
    </div>
    <%= error_span(@call[:recieved_at]) %>
  </div>
  <div class="control-group">
    <%= f.label :responded, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :responded, :class => 'form-control' %>
    </div>
    <%= error_span(@call[:responded]) %>
  </div>
  <div class="control-group">
    <%= f.label :is_voicemail, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :is_voicemail, :class => 'form-control' %>
    </div>
    <%= error_span(@call[:is_voicemail]) %>
  </div>
  <div class="control-group">
    <%= f.label :message, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :message, :class => 'form-control' %>
    </div>
    <%= error_span(@call[:message]) %>
  </div>
  <div class="control-group">
    <%= f.label :customer_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select( :customer_id, Customer.all, :id, :name, :class => 'form-control') %>
    </div>
    <%= error_span(@call[:customer_id]) %>
  </div>

  <br />
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            calls_path, :class => 'btn btn-default' %>

<% end %>
