<%- model_class = Call -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:phone_number) %>:</strong></dt>
  <dd><%= @call.phone_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contact_name) %>:</strong></dt>
  <dd><%= @call.contact_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:recieved_at) %>:</strong></dt>
  <dd><%= @call.recieved_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:responded) %>:</strong></dt>
  <dd><%= @call.responded %></dd>
  <dt><strong><%= model_class.human_attribute_name(:is_voicemail) %>:</strong></dt>
  <dd><%= @call.is_voicemail %></dd>
  <dt><strong><%= model_class.human_attribute_name(:message) %>:</strong></dt>
  <dd><%= @call.message %></dd>
  <dt><strong><%= model_class.human_attribute_name(:customer_id) %>:</strong></dt>
  <dd><%= @call.customer_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              calls_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_call_path(@call), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              call_path(@call),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
