<p id="notice"><%= notice %></p>

<p>
  <strong>Email address:</strong>
  <%= @email.email_address %>
</p>

<p>
  <strong>Email subject:</strong>
  <%= @email.email_subject %>
</p>

<p>
  <strong>Email text:</strong>
  <%= @email.email_text %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @email.customer %>
</p>

<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
